body {
    background-color: #123159;
    text-align: center;
}
.portada {
    position: relative;
    top: 0;
    left: 0;
}
.logo {
    position: absolute;
    top: 60px;
    left: 80px;
}
.textocontacto {
    position: absolute;
    bottom: -120px;
    right: 120px;
    color: white;
}